<div class="form-inline">
  <input on-focus="changeType('lastName')" [(ngModel)]="filterQuery"/>
  <select class="" [(ngModel)]="filterQuery" name="filterQuery" (ngModelChange)="changeType('position')">
      <option value="">Position</option>
      <option value="PG">Point Guard</option>
      <option value="SG">Shooting Guard</option>
      <option value="SF">Small Forward</option>
      <option value="PF">Power Forward</option>
      <option value="C">Center</option>
  </select>
  <h3 style="display:inline">
    Available cap: {{money | currency : 'EUR': true:"1.0-0"}}
  </h3>
</div>

<table class="table table-striped" [mfData]="freeAgents | dataFilter : filterQuery : searchType" #mf="mfDataTable" [mfRowsOnPage]="15">
    <thead>
      <tr>
          <th><mfDefaultSorter by="lastName">Name</mfDefaultSorter></th>
          <th><mfDefaultSorter by="overall">Overall</mfDefaultSorter></th>
          <th><mfDefaultSorter by="position">Position</mfDefaultSorter></th>
          <th>Current Offer</th>
          <th><mfDefaultSorter by="timeBid">Time left</mfDefaultSorter></th>
          <th>Offer</th>
          <th>Length</th>
          <th>Confirm</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of mf.data">
        <td [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="/player/{{player.lastName}}/{{player.firstName}}/">{{player.lastName}}, {{player.firstName}}</a></td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salaryBid | currency : 'EUR': true:"1.0-0"}}/{{player.durationBid}}/{{player.teamBid}}</td>
        <td>{{player.timeBid | timeleft}}</td>
        <td><input type="text" [(ngModel)]="player.newSalaryBid" name="" value=""></td>
        <td><select [(ngModel)]="player.newDurationBid" class="">
              <option value=1>One Year</option>
              <option value=2>Two Years</option>
              <option value=3>Three Years</option>
              <option value=4>Four Years</option>
              <option value=5>Five Years</option>
            </select>
        </td>
        <td><button (click)="bid(player, player.newSalaryBid, player.newDurationBid)" name="button" class="btn btn-success">Confirm Offer</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="8">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
