<input class="" placeholder="" [(ngModel)]="filterQuery"/>
<button (click)="changeType('lastName')">Name</button>
<select class="" [(ngModel)]="filterQuery" name="filterQuery" (ngModelChange)="changeType('position')">
    <option value="">Position</option>
    <option value="PG">Point Guard</option>
    <option value="SG">Shooting Guard</option>
    <option value="SF">Small Forward</option>
    <option value="PF">Power Forward</option>
    <option value="C">Center</option>
</select>

<table class="table table-striped" [mfData]="allPlayers | dataFilter : filterQuery : searchType" #mf="mfDataTable" [mfRowsOnPage]="15">
    <thead>
      <tr>
          <th><mfDefaultSorter by="lastName">Name</mfDefaultSorter></th>
          <th><mfDefaultSorter by="overall">Overall</mfDefaultSorter></th>
          <th><mfDefaultSorter by="position">Position</mfDefaultSorter></th>
          <th>Gebot</th>
          <th>Jahre</th>
          <th>Bestätigen</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of mf.data">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td><input type="text" [(ngModel)]="player.salaryBid" name="" value=""></td>
        <td><select [(ngModel)]="player.yearsBid" class="">
              <option value=1>Ein Jahr</option>
              <option value=2>Zwei Jahre</option>
              <option value=3>Drei Jahre</option>
              <option value=4>Vier Jahre</option>
              <option value=5>Fünf Jahre</option>
            </select>
        </td>
        <td><button (click)="bid(player, player.salaryBid, player.yearsBid)" name="button">Gebot abgeben</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="8">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
