<h1>Elite League Rules</h1>

<h2>General</h2>
<p>This league is emulating the myGM-Mode expierence within an online environment.</p>
<ul>
  <li>There will be 20 teams to ensure every team has enough talent to be fun.</li>
  <li>There will be two seasons per year. Each season constitutes of a regular season, playoffs, and off-season.</li>
  <li>Each team will play against the other teams twice per season.</li>
</ul>
<h2 id="gameplay">Gameplay</h2>

<h3>Offense</h3>
<ul>
  <li>Don't walk around a defender in an iso situation you must make some form of a basketball move, crossover, in and out and beat your defender off a move dont just run around him</li>
  <li>Fast Break: If there is a Steal, Block, Airball you can chuck it down court and turbo up the court. If a ballhandler, e.g. pg/sg(according to roster file) or point forwards(list will be released of each season) gets rebound or the rebound is past the free throw line you can run up the court but you cannot pass it
    down the court.</li>
</ul>

<h3>Defense</h3>
<ul>
  <li>On ball defense is required 100%, only exception is on a PNR and you're switching to the big man to guard but switch back to on the ball when PNR is over</li>
  <li>Inbound passes: You can steal any inbound pass that's on the defensive side of the court including the half court line.</li>
  <li>No switching your defense in the middle of a possession (between man-to-man and zone except junk defense)</li>
</ul>

<h3>Misc</h3>
<ul>
  <li>A fastbreak is considered as scoring or driving to the basket with more than 18 seconds on the shot clock</li>
  <li>Disconnects: Every D/C game will be a different situation and the league will act accordingly, for the most part i will let the two players decide on how to act upon a D/C</li>
  <li>Sliders are to be determined</li>
</ul>


<h2 id="FA">Free Agency</h2>
<p>Free Agents will be auctioned off, meaning every team has the chance to acquire a free agent. As in an auction, the highest bidder wins. However, to win the auction, your bid must stand the highest for at least 24 hours. The minimum contract length is
  1 year. The maximum is 4 years, 5 years with bird rights. We will use this table for determining the trumping of bids:</p>
<table>
  <thead>
    <tr>
      <td colspan="7">
        <div class="h2center">Free Agency Bid Table</div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Original: 1 year</td>
      <td>Original: 2 years</td>
      <td>Original: 3 years</td>
      <td>Original: 4 years</td>
      <td>Original: 5 years</td>
    </tr>
    <tr>
      <td>New: 1 year</td>
      <td>1</td>
      <td>1.3</td>
      <td>1.6</td>
      <td>2</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>New: 2 years</td>
      <td>0.8</td>
      <td>1</td>
      <td>1.3</td>
      <td>1.6</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>New: 3 years</td>
      <td>0.64</td>
      <td>0.8</td>
      <td>1</td>
      <td>1.3</td>
      <td>1.45</td>
    </tr>
    <tr>
      <td>New: 4 years</td>
      <td>0.51</td>
      <td>0.64</td>
      <td>0.8</td>
      <td>1</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>New: 5 years</td>
      <td>0.47</td>
      <td>0.53</td>
      <td>0.69</td>
      <td>0.91</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
<p>The numbers in the table are the standard multipliers. The rows represent the number of years in your proposed contract, and the columns represent the number of years of the previous proposed contract, or contract. Minimum bid for a player is $1M. There
  is no maximum bid other than your remaining cap space.</p>
<p>To top a bid with the same number of years the bid must increase by $0.1M. Only multiples of $0.1M are eligble as bids. Bids will be rounded down to the next $0.1M</p>
<p>Players attain bird rights if they fulfilled a contract of a minimum of three years. The incumbent team can offer a five year contract to the player with bird rights.</p>
<h2>Roster</h2>
<p>You have to have at least 13 players on your roster. You can only have up to 15 players on your roster.</p>
<p>You have a salary cap of $100M each season. You can never go over it.</p>
<p>You can only sign players who are available in the standard roster of the current NBA2K.</p>
<h2>Draft</h2>
<p>There will be no draft. Rookies are available through the free agency when they are available ingame</p>
