<table class="table table-striped">
    <thead>
      <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>%</th>
        <th>GB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standing of results">
          <td>{{standing.name | team}}</td>
          <td>{{standing.w}}</td>
          <td>{{standing.l}}</td>
          <td>{{standing.pct}}</td>
          <td>{{standing.gb}}</td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="jumbotron">
  <h1>Report your game:</h1>
  {{user | team}} <input type="number" name="for" [(ngModel)]="report.for" value="" min="0" max="200" required> vs <input type="number" [(ngModel)]="report.against" name="against" value="" min="0" max="200" required>
  <select class="" name="opponent" [(ngModel)]="report.opponent">
      <option value="opponent">Opponent</option>
      <option *ngFor="let team of teams" value={{team.short}}>{{team.long}}</option>
  </select>
  <input type="button" class="btn-small btn-primary" name="submit" value="Submit" (click)="reportGame(report)">
</div>
