<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>%</th>
        <th>GB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standing of results;let i = index" [attr.data-index]="i">
          <td>{{i+1}}</td>
          <td>{{standing.name | team}}</td>
          <td>{{standing.w}}</td>
          <td>{{standing.l}}</td>
          <td>{{standing.pct}}</td>
          <td>{{standing.gb}}</td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<h2>Recent results</h2>
<table class="table table-striped">
    <tbody>
      <tr *ngFor="let game of teamResults">
          <td>{{game.for<game.against?"L":"W"}} vs {{game.opponent}} </td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>

<div class="jumbotron">
  <h2>Report your game:</h2>
  {{user | team}} <input type="number" name="for" [(ngModel)]="report.for" value="" min="0" max="200" required> vs <input type="number" [(ngModel)]="report.against" name="against" value="" min="0" max="200" required>
  <select class="" name="opponent" [(ngModel)]="report.opponent">
      <option *ngFor="let team of teams" value={{team.short}}>{{team.long}}</option>
  </select>
  <input type="button" class="btn-small btn-danger" name="submit" value="Submit" (click)="reportGame(report)">
  <input class="btn-small btn-success" type="button" (click)="this.loadStandings()" value="reload standings">
</div>
