<div *ngIf="user" class="">
  <!--<button class="btn btn-primary" *ngIf="showBids" (click)="switchView()">Show roster</button>
  <button class="btn btn-primary" *ngIf="!showBids" (click)="switchView()">Show offers</button>-->
  <ul class="list-inline">
    <li class="list-inline-item">Username: {{user.username}}</li>
    <li class="list-inline-item">Team: {{user.team | team}}</li>
    <li class="list-inline-item">Payroll: {{payroll | currency : 'EUR': true:"1.0-0"}}</li>
    <li class="list-inline-item">Available: {{1000-payroll | currency : 'EUR': true:"1.0-0"}}</li>
  </ul>
</div>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Roster</th>
        <th>Overall</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Duration</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let player of roster">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salary | currency : 'EUR': true:"1.0-0"}}</td>
        <td>{{player.duration}}</td>
    </tr>
    </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Offers</th>
        <th>Overall</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Duration</th>
        <th>Time left</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let player of bids">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salaryBid | currency : 'EUR': true:"1.0-0"}}</td>
        <td>{{player.durationBid}}</td>
        <td>{{player.timeBid | timeleft}}</td>
    </tr>
    </tbody>
</table>
