<div *ngIf="user">
  <h2 class="page-header">Teamübersicht</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Team: {{user.team}}</li>
    <li class="list-group-item">Payroll: {{payroll}}</li>
  </ul>
</div>
<button (click)="callGetRoster()">Roster</button>
<button (click)="callGetBids()">Offers</button>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Overall</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Duration</th>
        <th *ngIf="showBids">Withdraw</th>
        <th *ngIf="!showBids">Years in team</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let player of roster">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salary | currency : 'USD': true:"1.0-0"}}</td>
        <td>{{player.duration}}</td>        
        <td *ngIf="showBids"><button (click)="withdrawOffer(player._id)">Withdraw Offer</button></td>
        <td *ngIf="!showBids">{{player.yearsInTeam}}</td>
    </tr>
    </tbody>
</table>
