<div *ngIf="user">
  <h2 class="page-header">Overview</h2>
  <ul class="list-inline">
    <li class="list-inline-item">Username: {{user.username}}</li>
    <!--<li class="list-inline-item">Email: {{user.email}}</li>-->
    <li class="list-inline-item">Team: {{user.team}}</li>
    <li class="list-inline-item">Payroll: {{payroll | currency : 'USD': true:"1.0-0"}}</li>
  </ul>
</div>
<button (click)="switchView()">Roster</button>
<button (click)="switchView()">Offers</button>
<table *ngIf="!showBids" class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Overall</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Duration</th>
        <th>Time left</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let player of bids">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salaryBid | currency : 'USD': true:"1.0-0"}}</td>
        <td>{{player.durationBid}}</td>
        <td>{{player.timeBid | timeleft}}</td>
    </tr>
    </tbody>
</table>
<table *ngIf="showBids" class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Overall</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Duration</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let player of roster">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salary | currency : 'USD': true:"1.0-0"}}</td>
        <td>{{player.duration}}</td>
    </tr>
    </tbody>
</table>
