<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  <div class="form-group">
    <label>Team</label>
    <select class="form-control" [(ngModel)]="team" name="team">
      <option value="ATL">Atlanta Hawks</option>
      <option value="BOS">Boston Celtics</option>
      <option value="BKN">Brooklyn Nets</option>
      <option value="CHA">Charlotte Hornets</option>
    </select>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
