<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  <div class="form-group">
    <label>Team</label>
    <select class="form-control" [(ngModel)]="team" name="team">
      <option *ngFor="let team of teams" value={{team.short}}>{{team.long}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
<h2>Reserved teams:</h2>
<p>You can not register with them</p>
<ul *ngFor="let user of userlist">
  <li>{{user.team}} by {{user.username}}</li>
</ul>
