<div class="jumbotron text-center">
  <h1>Elite League App</h1>
  <p class="lead">Welcome to the NBA2k PC Sim League</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    <a class="btn btn-primary" href="https://discord.gg/uWqpHbK">Discord</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Team Management</h3>
    <p>Sign Free Agents, trade with other teams and build your own dynasty.</p>
  </div>
  <div class="col-md-4">
    <h3>Continuous Rosters</h3>
    <p>Play with your team for multiple seasons and win the championship with the team you've built up.</p>
  </div>
  <div class="col-md-4">
    <h3>Simulation League</h3>
    <p>Play with other people online with sim sliders, fight for your playoff seed in a wholesome community. </p>
  </div>
  <div class="col-md-4">
    <h3>How to join?</h3>
    <p>Join the discord to introduce yourself to the community. You can also register on the website after that.</p>
  </div>
</div>
