    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Elite League</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto navbar-left">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a [routerLink]="['/']" class="nav-link">Home</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/rules']">Rules</a>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto navbar-right">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/standings']">Standings</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/player']">Players</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/auction']">Auction</a>
          </li>
          <!--<li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/trade']">Trade</a>
          </li>-->
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
            <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>

        </ul>
      </div>
    </nav>
