<h1>Player list</h1>

<input on-focus="changeType('lastName')" class="" placeholder="Name" [(ngModel)]="filterQuery"/>

<select class="" [(ngModel)]="filterQuery" name="filterQuery" (ngModelChange)="changeType('position')">
    <option value="">Position</option>
    <option value="PG">Point Guard</option>
    <option value="SG">Shooting Guard</option>
    <option value="SF">Small Forward</option>
    <option value="PF">Power Forward</option>
    <option value="C">Center</option>
</select>
<select class="" [(ngModel)]="filterQuery" name="filterQuery" (ngModelChange)="changeType('team')" >
    <option value="">Team</option>
    <option *ngFor="let team of teams" value={{team.short}}>{{team.long}}</option>
</select>

<table *ngIf="show" class="table table-striped" [mfData]="allPlayers | dataFilter : filterQuery : searchType" #mf="mfDataTable" [mfRowsOnPage]="15">
    <thead>
      <tr>
          <th><mfDefaultSorter by="lastName">Name</mfDefaultSorter></th>
          <th><mfDefaultSorter by="overall">Overall</mfDefaultSorter></th>
          <th><mfDefaultSorter by="position">Position</mfDefaultSorter></th>
          <th><mfDefaultSorter by="salary">Salary</mfDefaultSorter></th>
          <th><mfDefaultSorter by="duration">Duration</mfDefaultSorter></th>
          <!--<th><mfDefaultSorter by="notes">Notes</mfDefaultSorter></th>
          <th><mfDefaultSorter by="yearsInTeam">Birds</mfDefaultSorter></th>-->
          <th><mfDefaultSorter by="team">Team</mfDefaultSorter></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of mf.data">
        <td>{{player.lastName}}, {{player.firstName}}</td>
        <td>{{player.overall}}</td>
        <td>{{player.position}}</td>
        <td>{{player.salary | currency : 'EUR': true:"1.0-0"}}</td>
        <td>{{player.duration}}</td>
        <!--<td>{{player.notes}}</td>
        <td>{{player.bird}}</td>-->
        <td>{{player.team}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="8">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
